In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [3]:
filename = 'C:\\Users\\richter Belmont\\Desktop\\Data Science - Projects\\Grupo Bimbo - Inventory Demand\\train.csv'
bimbo = pd.read_csv(filename, nrows=200000)

In [ ]:
filename = 'C:\\Users\\richter Belmont\\Desktop\\Data Science - Projects\\Grupo Bimbo - Inventory Demand\\train.csv'
n = sum(1 for line in open(filename)) - 1 # number of records that excludes header
s = 100000 #sample size
skip = sorted(random.sample(xrange(1,n+1),n-s)) # 0-indexed header won't be included in the list
bimbo = pd.read_csv(filename, skiprows=skip)

In [4]:
bimbo

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3
5,3,1110,7,3301,15766,1250,5,38.20,0,0.0,5
6,3,1110,7,3301,15766,1309,3,20.28,0,0.0,3
7,3,1110,7,3301,15766,3894,6,56.10,0,0.0,6
8,3,1110,7,3301,15766,4085,4,24.60,0,0.0,4
9,3,1110,7,3301,15766,5310,6,31.68,0,0.0,6
10,3,1110,7,3301,15766,30531,8,62.24,0,0.0,8
11,3,1110,7,3301,15766,30548,4,21.52,0,0.0,4
12,3,1110,7,3301,15766,30571,12,75.00,0,0.0,12
13,3,1110,7,3301,15766,31309,7,43.75,0,0.0,7
14,3,1110,7,3301,15766,31506,10,62.50,0,0.0,10
15,3,1110,7,3301,15766,32393,5,15.10,0,0.0,5
16,3,1110,7,3301,15766,32933,3,21.12,0,0.0,3
17,3,1110,7,3301,15766,32936,3,21.12,0,0.0,3
18,3,1110,7,3301,15766,34053,8,36.00,0,0.0,8
19,3,1110,7,3301,15766,35651,12,90.00,0,0.0,12
20,3,1110,7,3301,15766,37057,8,60.00,0,0.0,8
21,3,1110,7,3301,15766,41938,4,39.64,0,0.0,4
22,3,1110,7,3301,15766,42434,5,22.90,0,0.0,5
23,3,1110,7,3301,22926,1125,18,172.80,0,0.0,18
24,3,1110,7,3301,22926,42122,18,561.60,0,0.0,18
25,3,1110,7,3301,24080,2233,19,378.86,0,0.0,19
26,3,1110,7,3301,24080,42122,12,374.40,0,0.0,12
27,3,1110,7,3301,24695,1187,1,148.50,0,0.0,1
28,3,1110,7,3301,24695,2233,8,159.52,0,0.0,8
29,3,1110,7,3301,50379,1146,3,64.17,0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...
199970,3,1116,1,1466,2212793,31423,5,53.45,0,0.0,5
199971,3,1116,1,1466,2212793,32819,5,44.45,0,0.0,5
199972,3,1116,1,1466,2212793,35651,15,112.50,0,0.0,15
199973,3,1116,1,1466,2212793,41938,3,29.73,0,0.0,3
199974,3,1116,1,1466,2212793,42434,5,22.90,0,0.0,5
199975,3,1116,1,1466,2300707,1064,1,16.67,0,0.0,1
199976,3,1116,1,1466,2300707,1212,2,16.76,0,0.0,2
199977,3,1116,1,1466,2300707,1216,3,25.14,0,0.0,3
199978,3,1116,1,1466,2300707,1232,3,54.72,0,0.0,3
199979,3,1116,1,1466,2300707,1240,7,58.66,0,0.0,7
199980,3,1116,1,1466,2300707,1242,5,38.20,0,0.0,5
199981,3,1116,1,1466,2300707,1250,12,91.68,0,0.0,12
199982,3,1116,1,1466,2300707,1278,14,63.00,0,0.0,14
199983,3,1116,1,1466,2300707,1309,2,13.52,0,0.0,2
199984,3,1116,1,1466,2300707,31423,4,42.76,0,0.0,4
199985,3,1116,1,1466,2300707,35651,17,127.50,0,0.0,17
199986,3,1116,1,1466,2300707,41938,6,59.46,0,0.0,6
199987,3,1116,1,1466,2300707,48421,5,22.90,0,0.0,5
199988,3,1116,1,1466,2309869,972,3,56.94,0,0.0,3
199989,3,1116,1,1466,2309869,1064,1,16.67,0,0.0,1
199990,3,1116,1,1466,2309869,1212,9,75.42,0,0.0,9
199991,3,1116,1,1466,2309869,1216,3,25.14,0,0.0,3
199992,3,1116,1,1466,2309869,1220,8,61.12,0,0.0,8
199993,3,1116,1,1466,2309869,1230,1,16.67,0,0.0,1
199994,3,1116,1,1466,2309869,1232,5,91.20,0,0.0,5
199995,3,1116,1,1466,2309869,1238,8,78.64,0,0.0,8
199996,3,1116,1,1466,2309869,1240,8,67.04,0,0.0,8
199997,3,1116,1,1466,2309869,1242,6,45.84,0,0.0,6
199998,3,1116,1,1466,2309869,1250,27,206.28,0,0.0,27
199999,3,1116,1,1466,2309869,1278,13,58.50,0,0.0,13

In [5]:
bimbo.describe()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
count,200000.0,200000.000000,200000.000000,200000.000000,2.000000e+05,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,3.0,1112.486265,1.295345,1746.242090,1.235036e+06,16795.171395,8.660120,101.490249,0.180095,2.529336,8.521740
std,0.0,1.807890,1.281548,1042.523102,1.524237e+06,18066.625537,25.805526,425.918647,3.633853,40.780020,25.453302
min,3.0,1110.000000,1.000000,1.000000,1.407500e+04,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.0,1111.000000,1.000000,1083.000000,7.441400e+04,1220.000000,2.000000,19.940000,0.000000,0.000000,2.000000
50%,3.0,1112.000000,1.000000,1417.000000,4.601920e+05,3270.000000,4.000000,37.500000,0.000000,0.000000,4.000000
75%,3.0,1113.000000,1.000000,1640.000000,1.872817e+06,35144.000000,8.000000,74.830000,0.000000,0.000000,8.000000
max,3.0,1116.000000,11.000000,4501.000000,9.747286e+06,49994.000000,2000.000000,21736.560000,1008.000000,9426.000000,2000.000000

In [6]:
target = bimbo['Demanda_uni_equil'].tolist()

def label_plot(title, x, y):
    plt.title(title)
    plt.xlabel(x)
    plt.ylabel(y)

plt.hist(target, bins=200, color='blue')
label_plot('Distibution of target values', 'Demanda_uni_equil', 'Count')
plt.show()

In [7]:
print("Data with target values under 50:" + str(round(len(bimbo.loc[bimbo['Demanda_uni_equil'] <= 50]) / 5000, 2)) + '%')

Data with target values under 50:39.0%

In [8]:
plt.hist(target, bins = 50, color='blue', range=(0,50))
label_plot('Distribution of target values under 50', 'Demanda_uni_equil', 'Count')
plt.show()

In [9]:
from collections import Counter
print(Counter(target).most_common(10))
print('Our most common value is 2')

sub = pd.read_csv('C:\\Users\\richter Belmont\\Desktop\\Data Science - Projects\Grupo Bimbo - Inventory Demand\\sample_submission.csv')
sub['Demanda_uni_equil'] = 2
sub.to_csv('mostcommon.csv', index=False)

[(2, 35898), (1, 26488), (3, 25009), (4, 19299), (5, 18812), (6, 12366), (10, 9059), (8, 7661), (7, 6091), (9, 4135)]
Our most common value is 2

In [10]:
pseudo_time = bimbo.loc[bimbo.Demanda_uni_equil < 20].index.tolist()
target = bimbo.loc[bimbo.Demanda_uni_equil < 20].Demanda_uni_equil.tolist()

plt.hist2d(pseudo_time, target, bins=[50,20])
label_plot('Histogram of target value over index', 'Index', 'Target')
plt.show()

In [ ]:
week = bimbo['Semana']
print(week.value_counts())

demands = pd.read_csv(filename, usecols=['Semana', 'Demanda_uni_equil'])
print('Size:' + str(demands.shape))